<div class="hero-unit">
    <h2>Send an e-mail to &laquo;anything&raquo;@@mailsendbox.net ...</h2>
    <p>... and it will be displayed here. Great for testing your mail-sending code.</p>
</div>

<div id="mails">Just a second, we're loading the e-mails ...</div>

<footer>MailSendbox by Hannes Sachsenhofer, Christoph Zöttl | Last check: <span id="lastCheck">0 seconds ago</span>. | <a href="#" id="allowNotifications">Allow desktop notifications</a></footer>

@section scripts
{
    <script>

        var _lastCheck = new Date().getTime();
        var _notification;

        $(function () {
            var mailsHub = $.connection.mailsHub;

            $("#allowNotifications").click(function () {
                window.webkitNotifications.requestPermission();
            });

            mailsHub.client.newMailsArrived = function (result) {
                renderMails(result.AllMails);

                if (result.NewMails.length > 0) {
                    if (window.webkitNotifications.checkPermission() == 0) { // 0 is PERMISSION_ALLOWED
                        if (_notification)
                            _notification.cancel();

                        var subject = result.NewMails + " new e-mails arrived on MailSendbox";
                        if (result.NewMails.length == 1)
                            subject = "1 new e-mail arrived on MailSendbox";
                        var text = "";
                        $.each(result.NewMails, function(i, val) {
                            if (text != "")
                                text += "\n";
                            text += val.Subject;
                        });

                        _notification = window.webkitNotifications.createNotification("@Url.Content("~/apple-touch-icon.png")", subject, text);
                        _notification.ondisplay = function() {
                            setTimeout("_notification.cancel()", 15000);
                        };
                        _notification.show();
                    }
                }
            };

            mailsHub.client.mailsChecked = function () {
                _lastCheck = new Date().getTime();
            };

            setInterval("$('#lastCheck').html(Math.round((new Date().getTime() - _lastCheck) / 1000, 0) + ' seconds ago');", 25);

            $.connection.hub.start().done(function () {
                mailsHub.server.init();
            });
        });

        function renderMails(mails) {
            var container = $("#mails");
            container.html("");

            for (var i = 0; i < 10; i++) {
                var row = $("<div />").addClass("row-fluid");
                container.append(row);

                for (var j = 0; j < 3; j++) {
                    var index = i * 3 + j;
                    var mail = mails[index];
                    if (!mail)
                        return;

                    var cell = $("<div />").addClass("span4");
                    row.append(cell);

                    cell.append("<h4>" + mail.Subject + "</h4>");
                    cell.append("<table><tr><td>From: </td><td><code>" + mail.From + "</code></td></tr>" +
                        "<tr><td>To: </td><td><code>" + mail.To + "</code></td></tr>" +
                        "<tr><td>On: </td><td><code>" + mail.Date + "</code></td></tr></tbody></table>");
                    cell.append("<p class=''muted>" + mail.Body + "</p>");
                }
            }
        }
    </script>
}

