<div class="hero-unit">
    <h2>Send any e-mail to &laquo;anything&raquo;@@mailsendbox.net ...</h2>
    <p>... and it will be displayed here. Great for testing your mail-sending code.</p>
    <p>Last time we checked for e-mails was <span id="lastCheck">0 seconds ago</span>. We'll refresh automatically if there are any new ones.</p>
</div>

<div id="mails"></div>

@section scripts
{
    <script>

        var _lastCheck = new Date().getTime();

        $(function () {
            var mailsHub = $.connection.mailsHub;

            mailsHub.client.newMailsArrived = function (result) {
                renderMails(result.AllMails);
            };

            mailsHub.client.mailsChecked = function () {
                _lastCheck = new Date().getTime();
            };

            setInterval("$('#lastCheck').html(Math.round((new Date().getTime() - _lastCheck) / 1000, 0) + ' seconds ago');", 25);

            $.connection.hub.start().done(function () {
                mailsHub.server.init();
            });
        });

        function renderMails(mails) {
            var container = $("#mails");
            container.html("");

            for (var i = 0; i < 10; i++) {
                var row = $("<div />").addClass("row-fluid");
                container.append(row);

                for (var j = 0; j < 3; j++) {
                    var index = i * 3 + j;
                    var mail = mails[index];
                    if (!mail)
                        return;

                    var cell = $("<div />").addClass("span4");
                    row.append(cell);

                    cell.append("<h4>" + mail.Subject + "</h4>");
                    cell.append("<table><tr><td>From: </td><td><code>" + mail.From + "</code></td></tr>" +
                        "<tr><td>To: </td><td><code>" + mail.To + "</code></td></tr>" +
                        "<tr><td>On: </td><td><code>" + mail.Date + "</code></td></tr></tbody></table>");
                    cell.append("<p class=''muted>" + mail.Body + "</p>");
                }
            }
        }
    </script>
}

